<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: user.username }) %>

<body>
  <%- include('../partials/navbar/_navbar') %>
  <div class="record-collection-container">
    <div class="top-profile">
      <h1><%= user.username %>'s record collection</h1>
    </div>
    <div class="bottom-profile">
      <% if (!albums) { %>
        <div>
          <p>Time to dig for some records and find your favorites on the homepage!</p>
        </div>
      <% } else { %>  
        <div class="record-collection">
          <% for (let i = 0; i < albums.length; i++) { %>
            <% const album = albums[i] %>
            <div class="record-container">
              <div class="album-name-container">
                <p><a href="/albums/<%= album.id %>"><%= album.name %></a></p>
              </div>
              <div class="album-image-container">
                <a href="/albums/<%= album.id %>"><img src="<%= album.images[0].url %>" alt="" /></a>
              </div>
            </div>
          <% } %> 
        </div>
      <% } %> 
    </div>
  </div>
  <%- include('../partials/footer/_footer') %>
</body>
</html>