<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Home' }) %>

<body>
  <%- include('../partials/navbar/_navbar') %>
  <div class="album-search-container">
    <form class="album-search" action="albums" method="GET">
      <input 
        type="text" 
        name="search"
        id="search-query"
        class="search-query"
        placeholder="search for an album" 
        required 
      />
      <input type="submit" value="Submit" id="search-submit" class="search-query"/>
    </form>
  </div>
  <h1>Albums</h1>
  <div class="homepage-container">
    <div class="left-home-container">
      <div class="search-results">
        <% if (albums) { %> 
          <% for( let index = 0; index < albums.length; index++ ) { %>
            <% const album = albums[index] %>
            <a href="/albums/<%= album.id %>"><h3><%= album.name %></h3></a>
            <a href="/albums/<%= album.id %>"><img src="<%= album.images[0].url %>" alt="" /></a>
          <% } %>
        <% } %> 
      </div>
      <div class="right-home-container">

      </div>
    </div>
  </div>
  <%- include('../partials/footer/_footer') %>
</body>
</html>