<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Home' }) %>

<body>
  <%- include('../partials/navbar/_navbar') %>
  <form action="albums" method="GET">
    <input 
      type="text" 
      name="search"
      id="search-query"
      placeholder="search for an album" 
      required 
    />
    <input type="submit" value="Submit" id="search-submit" />
  </form>

  <div class="search-results">
    <h1>Albums</h1>
    <div>
      <% for( let index = 0; index < albums.length; index++ ) { %>
        <% const album = albums[index] %>
        <h3><a href="/albums/<%= album.id %>"><%= album.name %></a></h3>
        <img class="listed-album" src="<%= album.images[0].url %>" alt="" />
        <h4> <%= album.id %> </h4> 
      <% } %>
    </div>
  </div>

  <%- include('../partials/footer/_footer') %>
</body>
</html>