<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: album.name }) %>

<body>
  <%- include('../partials/navbar/_navbar') %>

  <div class="show-page">
    <div class="top">
      <h2 class="album-name"><%= album.name %></h2>
      <h2 class="artist-name">Artist: <%= album.artists[0].name %></h2>
      <h3 class="release-date">Release: <%= album.release_date %></h3>
      <div class="track-list-container">
        
          <% for (let i = 0; i < album.tracks.items.length; i++) { %>  
            <% const track = album.tracks.items[i] %>
            <div class="track-name"><%= i + 1 %>. <%= track.name %></div> 
          <% } %> 
        
      </div>
      <img src="<%= album.images[0].url %>" alt="<%= album.name %> image" />

      <% if (!session) { %> 
      <% } else { %> 
        <div class="comment-form-container">
          <p class="session-username"><%= session.username %></p>
          <img src="<%= session.avatar %>" alt="avatar" />
          <p class="comment-invite">What do you think of <span><%= album.name %></span>? Let us know!</p>
          <form class="comment-form" action="/albums/<%= album.id %>" method="POST">
            <textarea 
              rows="4" 
              cols="50"
              maxlength="400" 
              placeholder="Join the discussion!"         
              name="content"
              id="content"
              required
            ></textarea>
            <button class="button comment-submit-button">Submit</button>
          </form>
        </div>
      <% } %> 
      
      <% if (!user) { %>
      <% } else { %> 
        <form class="record-collection-button" action="/users/<%= user.id %>?_method=PUT" method="POST">
          <input 
            type="hidden"
            name="recordCollection"
            id="record-collection"
            value="<%= album.id %>"
            />
          <% if (isInCollection) { %>
            <button class="button remove-button">Remove from Collection</button> 
          <% } else { %>
            <button class="button add-button">Add to Collection</button>    
          <% } %> 
        </form>
      <% } %>  
    </div>

    <div class="bottom">
      <% for (let i = comments.length - 1; i >= 0; i--) { %>
        <% const comment = comments[i] %> 
        <div class="show-comment-container">
          <div class="avatar-container">
            <img src="<%= comment.userId.avatar %>" alt="user avatar" />
          </div>
          <div class="comment-post-username">
            <a href="/users/<%= comment.userId.id %>"><p class="show-comment-username"><%= comment.userId.username %></p></a>
          </div>
          <div class="timestamp-container">
            <p class="timestamp"><%= comment.createdAt.toLocaleDateString() %> - <%= comment.createdAt.toLocaleTimeString() %></p>
          </div>
          <% if (!session) { %> 
          <% } else if (session.id === comment.userId.id) { %> 
            <div class="edit-delete-container">
              <i class="fas fa-edit edit" data-update-id="<%= comment._id %>"></i>
              <i class="fas fa-trash-alt delete" data-delete-id="<%= comment._id %>"></i>
            </div>
          <% } %>
          <div class="comment-content-container">
            <p class="show-comment-content"><%= comment.content %></p>
          </div>
        </div>
        <div class="modal edit-modal" id="e<%= comment._id %>">
          <span class="close edit-close">&times;</span>
          <form class="modal-content" action="/albums/<%= album.id %>?_method=PUT" method="POST">
            <input 
              type="hidden"
              name="edit_id"
              id="edit_id"
              value="<%= comment._id %>"
            />
            <textarea rows="4" cols="50" name="content"
            id="content"><%= comment.content %></textarea>
            <button>Submit</button>
          </form>
        </div>
        <div class="modal delete-modal" id="d<%= comment._id %>">
          <span class="close delete-close">&times;</span>
          <form class="modal-content" action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button>Submit</button>
          </form>
          <!-- <button>Cancel</button> -->
        </div>
      <% } %>  
    </div>
  </div>

  <%- include('../partials/footer/_footer') %>
</body>
</html>