<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: album.name }) %>

<body>
  <%- include('../partials/navbar/_navbar') %>
  <div class="show-page">
    <div class="top">
      <h2 class="album-name"><%= album.name %></h2>
      <h2 class="artist-name">Artist: <%= album.artists[0].name %></h2>
      <h3 class="release-date">Release Date: <%= album.release_date %></h3>
      <div class="track-list-container">
        Track list: 
        <ol class="track-list">
          <% for (let i = 0; i < album.tracks.items.length; i++) { %> 
            <% const track = album.tracks.items[i] %>
            <li class="track-name"><%= track.name %></li> 
          <% } %> 
        </ol>
      </div>
      <img src="<%= album.images[0].url %>" alt="<%= album.name %> image" />
    </div>
    <div class="bottom">
      <% if (!user) { %>
        <% } else { %> 
        <form class="record-collection-button" action="/users/<%= user.id %>?_method=PUT" method="POST">
          <input 
            type="hidden"
            name="recordCollection"
            id="record-collection"
            value="<%= album.id %>"
          />
          <% if (isInCollection) { %>
            <button>remove from Collection</button> 
          <% } else { %>
            <button>add to Collection</button>    
          <% } %> 
        </form>
      <% } %> 
      <form class="comment-form" action="/albums/<%= album.id %>" method="POST">
        <div>
          <input 
            type="text"
            name="content"
            id="content"
            placeholder="leave a comment"
            required
          />
        </div>
        <button class="submit-button">Submit</button>
      </form> 

    </div>
    <div class="show-comments-container">
      <% for (let i = 0; i < comments.length; i++) { %>
        <% const comment = comments[i] %> 
        <div class="show-comment-container">
          <div class="avatar-container">
            <img src="<%= comment.userId.avatar %>" alt="user avatar" />
          </div>
          <div class="comment-post-username">
            <a href="/users/<%= comment.userId.id %>"><p class="show-comment-username"><%= comment.userId.username %></p></a>
          </div>
          <div class="timestamp-container">
            <p class="timestamp"><%= comment.createdAt.toLocaleString() %></p>
          </div>
          <% if (session.id === comment.userId.id) { %> 
            <div class="edit-delete-container">
              <i class="fas fa-edit edit" data-comment-id="<%= comment._id %>"></i>
              <i class="fas fa-trash-alt delete"></i>
            </div>
          <% } %>
          <div class="comment-content-container">
            <p class="show-comment-content"><%= comment.content %></p>
          </div>
        </div>
        <div class="modal edit-modal" id="<%= comment._id %>">
          <span class="close edit-close">&times;</span>
          <form class="modal-content" action="/albums/<%= album.id %>?_method=PUT" method="POST">
            <input 
              type="hidden"
              name="comment_id"
              id="comment_id"
              value="<%= comment._id %>"
            />
            <!-- <input
              type="text"
              name="content"
              id="content"
              value="%= comment.content %>"
            /> -->
            <textarea rows="4" cols="50" name="content"
            id="content"><%= comment.content %></textarea>
            <button>Submit</button>
          </form>
        </div>
        <div class="modal delete-modal">
          <span class="close delete-close">&times;</span>

        </div>
      <% } %>  
    </div>
  </div>


  <%- include('../partials/footer/_footer') %>
</body>
</html>